body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 150px;
  height: 300px;
  margin: 15px;
  background-color: #131313;
  color: white;
}

p {
	color: #8c8c8c;
}

h1 {
	color: #fd4235;
}

h3, h1 {
  text-align: center;

  /*margin-bottom: 10px;*/
}

h3 {
	margin-top: 10px;
	color: #d8d8d8;
}

.center {
  text-align: center;
}

input {
  display: inline;
  margin: 0 auto;
}

#startBtn, #stopBtn {
	margin-left: 30%;
	border: 2px solid white;
	color: white;
	background-color: #fd4235;
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe; }
  [data-whatinput='mouse'] .button {
    outline: 0; }
  .button:hover, .button:focus {
    background-color: #14679e;
    color: #fefefe; }
  .button.secondary {
    background-color: #767676;
    color: #fefefe; }
    .button.secondary:hover, .button.secondary:focus {
      background-color: #5e5e5e;
      color: #fefefe; }
  .button.success {
    background-color: #3adb76;
    color: #0a0a0a; }
    .button.success:hover, .button.success:focus {
      background-color: #22bb5b;
      color: #0a0a0a; }
  .button.alert {
    background-color: #cc4b37;
    color: #fefefe; }
    .button.alert:hover, .button.alert:focus {
      background-color: #a53b2a;
      color: #fefefe; }
}